# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/dontcrash/route"
PassengerBaseURI "/route"
PassengerPython "/home/dontcrash/virtualenv/route/3.5/bin/python"
PassengerAppLogFile "/home/dontcrash/route/logs"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
